/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-notion-database-value {
	background: #010101;
	color: white;
	padding: 10px;
	text-align: center;
}